*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 30px;
    font-family: sans-serif;
    background: #e6c45f;/*  */
}

.container{
    position: relative;
    display: flex;
    justify-content: center; /* 居中对齐 */
    align-items: center; /* 对齐横中线 */
    width: 100%;
    flex-direction: column; /* flex的方向 */
}

.card{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    background:rgb(97, 5, 5);
    width: 350px;
    margin: 100px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 15px;
}

img{
    z-index: 1;
    width: 350px;
    justify-content: center;
    max-width: 100%;
    border-radius: 15px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.card h3{
    position: relative;
    left : 7%;
    padding: 3px ;
    padding-bottom: 15px;
    color: #e6c45f
}

.end-card{
    background:rgb(63, 4, 4);
}

.adjust-image{
    border-bottom-left-radius: 20px;
    border-top-right-radius: 15px;
}

p {
    position: absolute;
    top: 5%;
    left: 3%;
    font-size: 60%;
    margin: 8%;
    color: #e6c45f;
}

/* generate phrases */

table {
	padding-top: 80px;
	margin: auto;
	width: 30%;
}

.pinyin {
	/* height: 20px; */
	font-size: 20%;
	letter-spacing: 3px;
	font-weight: 400;
    text-align: center;
    color: #e6c45f;
}

td {
	font-size: 118%;
	text-align: center;
	font-weight: 700;
	padding: 0px;
    color: #e6c45f;
}

h2 {
	margin-top: 15px;
	margin-bottom: 100px;
    text-align: center;
	font-size:45%;
	text-transform: uppercase;
	font-weight: 700;
	word-spacing: 5px;
    color: #e6c45f;
}

/* .para {
	font-weight: 700;
	letter-spacing: 1px;
	word-spacing: 2px;
} */

button {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
	background-color: #ef941a;
	color: rgb(97, 5, 5);
	width: 70%;
	position: relative;
	border-radius: 8px;
	margin: 20%;
    margin-left: 16%;
	padding: 1%;
	line-height: 150%;
	cursor: pointer;
	border: none;
	outline: none;
	font-size: 10%;
	text-transform: uppercase;
	letter-spacing: 1%;
    font-size: 80%;
}

button:hover, button:focus {
	background-color: #efa134;
}

button:active {
	transform: translate(0px, 2px);
	-webkit-transform: translate(0px, 2px);
  }
